.navbar {
  background: linear-gradient(90deg, #f7d417 0%, #D0D3D4 100%);
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbarContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  max-width: 1500px;
}

.navbarLogo {
  color: #1D252D;
  justify-self: start;
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  display: flex;
  align-items: center;
}

.fa-barcode {
  margin-left: 0.5rem;
  font-size: 2em;
}

.navMenu {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 60vw;
  justify-content: end;
  margin-right: 1rem;
  font-size: 24px;
  color: black;
}

.navItem {
  height: 30px;
}

.navLink {
  color: #2D2C2F;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
}

.navLink:hover {
  border-bottom: 4px solid #2D2C2F;
  transition: all 0.2s ease-out;
}

.fa-bars {
  color: #fff;
}

.navLinkMobile {
  display: none;
}

.menuIcon {
  display: none;
}


/****** Mobile Menu Size ******/
@media screen and (max-width: 960px) {
  .NavbarItems {
    position: relative;
  }

  .navMenu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 100px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .navMenu.active {
    background: #2D2C2F;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

<<<<<<< HEAD
=======
  .navItem {
    padding: 2rem;
  }

>>>>>>> main
  .navLink {
    color: #fff;
    text-align: center;
    padding: 3rem;
    width: 100%;
    display: table;
  }

  .navLink:hover {
    background-color: #fff;
    color: #242424;
    border-radius: 0;
  }

  .navbarLogo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(25%, 50%);
    font-size: 24px;
  }

  .menuIcon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-times {
    color: #fff;
    font-size: 1rem;
  }

  .navLinkMobile {
    display: block;
    text-align: center;
<<<<<<< HEAD
    margin: 4rem auto;
=======
    margin: 5rem auto;
>>>>>>> main
    border-radius: 4px;
    width: 80%;
    text-decoration: none;
    font-size: 1.5rem;
    background-color: transparent;
    color: #fff;
    padding: 14px 20px;
    border: 1px solid #fff;
    transition: all 0.3s ease-out;
  }

  .navLinkMobile:hover {
    background: #242424;
    color: #fff;
    transition: 250ms;
  }
}
/***X*** Mobile Menu Size ***X***/